<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="lib/vue.js"></script>

    <script>
        const infiniteScroll = require('vue-infinite-scroll').infiniteScroll;
        Vue.use(infiniteScroll)
    </script>
    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 16px;
            background-color: #0f2803;
        }

        /*定义滚动条轨道
         内阴影+圆角*/
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #47a50b;
        }

        /*定义滑块
         内阴影+圆角*/
        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #05fc40;
        }

        body {
            background: #333;
            color: white;
            font-size: 16px;
        }

        .fileitem {

        }

        .fileitem:active {
            background-color: #09cd09;
            color: gold;
        }

        .fileitem:hover {
            background-color: #9909cd;
        }

        .folder {
            background-color: darkslategrey;
        }

        .btn {
            /*background-color: DodgerBlue;*/
            border: none;
            color: white;
            /*padding: 12px 30px;*/
            cursor: pointer;
            font-size: 14px;
            z-index: 999;
            float: right;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: #3c0661;
            z-index: 999;
        }

    </style>
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="lib/moment.js"></script>

</head>
<body>


<script>
    const thisDevice = localStorage.getItem("lastDevice-explorer")
    // document.write("设备管理器：", thisDevice)
    const fs = require("fs")
    const path = require('path');
    const cacheFolder = `tmp/${thisDevice}-explorer`
    fs.mkdirSync(cacheFolder, {recursive: true})
    const downloadFolder = `amaster-download/${thisDevice}`
    fs.mkdirSync(downloadFolder, {recursive: true})
</script>

<div id="statusbar" style="position:fixed;bottom:0;width:100%"></div>

<div id="vFileTree">
    <div style="font-size:20px;position:fixed;z-index:101;width:100%;margin-top:0">
        <span style="color:green;background:palegreen;width:500px"> {{device.substring(0, 14)}} </span>
        <input placeholder="/" type="text" @keyup.enter="changePath"
               v-model="searchPath" style="width:calc(100% - 200px);
           height:20px;font-size:19px;vertical-align:top">
    </div>
    <div style="margin-top:10px"><br> <br></div>
    <div style="font-size:20px"> 计数:{{files.length}} </div>
    <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="20">
        <div v-for="(file, i) in showFiles" v-on:dblclick="dblClickChangePath(file)"
             style="width:100%"
             v-bind:class='{folder: (file.type==="d" || file.type==="l") }'
             @mouseover="hoverIndex = i"

             class="fileitem">
            {{ file.name.length > 60 ? file.name.substring(0, 60) + "..." : (file.type === "d" || file.type === "l") ? file.name + "/" : file.name
            }}
            <span v-if="hoverIndex===i" style="color:black"> &nbsp;&nbsp;
                | {{humanFileSize(file.size)}}
                | {{file.alterTime}}
                {{file.link ? "| link <- " + file.link : ""}}
                {{file.writeable === "w" ? "" : "|只读(ReadOnly)"}}
            </span>
            <span v-if="hoverIndex===i" v-on:click="save(file)" class="btn"><i class="fa fa-download" aria-hidden="true"
                                                                               class="btn"
            ></i>Save</span>
        </div>
    </div>
</div>


<script>
    const spawn = require('child_process').spawn;
    const {getType, getSuffix} = require("./lib/mytype.js")
    const execPromise = require("./lib/myexec.js").execPromise;
    const vFileTree = new Vue({
        el: '#vFileTree',
        data: {
            files: [],
            showFiles: [],
            searchPath: "/storage/self/primary",
            currentPath: "/storage/self/primary",
            device: thisDevice,
            useInfinite: false,
            hoverIndex: null,
            menuIndex: null,
        },
        methods: {
            changePath: function () {
                refreshFileList(this.searchPath)
                this.currentPath = this.searchPath
                if (this.currentPath.substr(this.currentPath.length - 1) === "/") {
                    this.currentPath = this.currentPath.substring(0, this.currentPath.length - 1)
                }
            },
            loadMore: function () {
                if (!this.useInfinite || this.files.length === this.showFiles.length) return;
                this.busy = true
                setTimeout(() => {
                    for (let i = 0, j = 50; i < j && this.showFiles.length < this.files.length; i++) {
                        this.showFiles.push(this.files[this.showFiles.length])
                    }
                    console.log(this.data)
                    this.busy = false
                }, 30)
            },
            dblClickChangePath: function (file) {
                if (file.name === "..") {
                    tmp_loc = this.currentPath.substring(0, this.currentPath.lastIndexOf("/"))
                    this.searchPath = tmp_loc.length > 0 ? tmp_loc : "/";
                    console.log("now current", this.currentPath)
                    this.changePath()
                    return
                }
                if (file.type === "d" || file.type === "l") {
                    if (this.currentPath.substr(this.currentPath.length - 1) === "/") {
                        this.searchPath = this.currentPath + file.name
                    } else {
                        this.searchPath = this.currentPath + "/" + file.name
                    }
                    this.changePath()
                } else {
                    // todo: editor
                    if ("Code,Text".includes(getType(getSuffix(file.name))) ) {
                        console.log("this is a text", file.name)
                        let editor = new remote.BrowserWindow({
                            width: 1000,
                            height: 800,
                            show:true,
                            alwaysOnTop:true,
                            icon:"lib/fav.ico",
                            frame: true,
                            toolBarStyle: 'hidden',
                            visibleOnAllWorkspaces:true ,
                            webPreferences: {
                                nodeIntegration: true
                            }
                        });
                        editor.setMenu(null)
                        editor.loadFile('./child_editor.html');

                        editor.webContents.on("zoom-changed", (event, zoomDirection) => {
                            console.log(zoomDirection);
                            let currentZoom = editor.webContents.getZoomFactor();
                            if (zoomDirection === "in") {
                                editor.webContents.zoomFactor = currentZoom + 0.05;
                            }
                            if (zoomDirection === "out") {
                                editor.webContents.zoomFactor = currentZoom - 0.05;
                            }
                        });
                    }
                    else {
                        console.log("this is not a text", file.name)
                    }
                }

            },
            save: async function (file) {
                let to_download;
                if (this.currentPath.substr(this.currentPath.length - 1) === "/") {
                    to_download = this.currentPath + file.name
                } else {
                    to_download = this.currentPath + "/" + file.name
                }

                let div = document.createElement("div");
                div.id = `status-download-${moment().valueOf()}`;
                div.style.height = "20px";
                div.style.color = "black";
                div.style.background = "linear-gradient(to top right, pink 5%,purple 100%)";
                div.style.color = "white";
                div.innerHTML = `Fetching ` + to_download + " ...";
                document.getElementById("statusbar").appendChild(div);


                let cmd = `adb -s ${thisDevice}  pull -p ${to_download} ${downloadFolder}/`

                let handle = process.platform === "win32" ? spawn('powershell', ['/c', cmd]) : spawn(cmd);
                handle.stdout.on('data', function (data) {
                    div.innerHTML = `Fetching ` + to_download + "$" + data.toString()
                });

                handle.stderr.on('data', function (data) {
                    div.innerHTML = `Fetching ` + to_download + "$" + data.toString()
                });

                handle.on('exit', function (code) {
                    div.innerHTML = to_download + "=>done!";
                    setTimeout(
                        () => div.remove(), 3000
                    )
                });


            }
        }
    })
</script>

<script>
    const {exec} = require('child_process');

    function humanFileSize(bytes, si = true, dp = 1) {
        const thresh = si ? 1000 : 1024;

        if (Math.abs(bytes) < thresh) {
            return bytes + ' B';
        }

        const units = si
            ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
            : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
        let u = -1;
        const r = 10 ** dp;

        do {
            bytes /= thresh;
            ++u;
        } while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1);


        return bytes.toFixed(dp) + ' ' + units[u];
    }

    function refreshFileList(thisPath) {
        if (thisPath.substr(thisPath.length - 1) !== "/") thisPath += "/";
        cmd = `adb -s ${thisDevice} shell "ls -l ${thisPath} " `
        exec(cmd, (err, stdout, stderr) => {
            if (err && !err.message.includes("ermission")) {
                console.log(`[Warn]: ${err}`);
                new Notification('Warn', {
                    body: err.message
                })
                // return;
            }
            let tmp_files = thisPath === "/" ? [] : [
                {
                    type: "back",
                    writeable: "w",
                    alterTime: null,
                    name: "..",
                    link: null,
                    size: 0
                }
            ]
            console.log(stdout)
            stdout.split("\n").forEach(
                line => {
                    if (line.includes("ermission")) return;
                    line = line.trim()
                    line = line.replaceAll(" ", ",")
                    // console.log(line)
                    lineParts = line.split(/,+/)
                    // console.log(lineParts.length)
                    if (lineParts.length < 7) return;
                    let one = {
                        type: lineParts[0].substring(0, 1),
                        writeable: lineParts[0].substring(2, 3),
                        alterTime: `${lineParts[5]} ${lineParts[6]}`,
                        name: lineParts[7],
                        link: lineParts[9] || null,
                        size: lineParts[4]
                    }
                    tmp_files.push(one)
                }
            )
            // console.log(JSON.stringify(tmp_files))
            vFileTree.files = tmp_files
            if (vFileTree.files.length < 100) {
                vFileTree.useInfinite = false;
                vFileTree.showFiles = vFileTree.files;
            } else {
                vFileTree.useInfinite = true;
                vFileTree.showFiles = vFileTree.files.slice(0, 100);
            }

        })
    }

    refreshFileList("/storage/self/primary")


</script>

<script>
    const {remote} = require('electron')
    const {Menu, MenuItem, dialog} = remote
    const prompt = require('electron-prompt');

    const menu = new Menu()
    menu.addListener('menu-will-show', () => {
        vFileTree.menuIndex = vFileTree.hoverIndex;
        console.log("loc file,", vFileTree.menuIndex, vFileTree.showFiles[vFileTree.menuIndex].name);
    });

    menu.append(
        new MenuItem({
            label: "删除(Del)", async click() {
               await execPromise(`adb -s ${thisDevice} shell "cd ${vFileTree.currentPath} && rm -rf ${vFileTree.showFiles[vFileTree.menuIndex].name}" `).catch(
                    (error) => {
                        new Notification('Error', {
                                body: error
                            }
                        )
                    });
                refreshFileList(vFileTree.currentPath)
            }
        })
    )
    menu.append(
        new MenuItem({
            label: "重命名(Rename)",  async click() {
                prompt({
                    title: 'Wait',
                    label: 'New Name',
                    value: '',
                    type: 'input',
                    icon: "lib/fav.ico",
                    customStylesheet:"lib/prompt.css",
                    alwaysOnTop:true,
                }).then((r) => {
                    if (r === null) {
                        console.log('user cancelled');
                    } else {
                        console.log('result', r);
                        cmd = `adb -s ${thisDevice} shell "cd ${vFileTree.currentPath} && mv ${vFileTree.showFiles[vFileTree.menuIndex].name} ${r}" `
                        console.log(cmd)
                        execPromise(cmd).catch(
                            (error) => {
                                new Notification('Error', {
                                        body: error
                                    }
                                )
                            })
                    }
                }).then(() => refreshFileList(vFileTree.currentPath))
                    .catch((error) => {
                        new Notification('Error', {
                            body: error
                        })
                    });
            }
        })
    )

    menu.append(new MenuItem({
        label: '新建文件夹(New Folder)', async click() {
            prompt({
                title: 'Wait',
                label: 'Folder Name',
                value: '',
                type: 'input',
                icon: "lib/fav.ico",
                customStylesheet:"lib/prompt.css",
                alwaysOnTop:true,
            }).then((r) => {
                if (r === null) {
                    console.log('user cancelled');
                } else {
                    console.log('result', r);
                    execPromise(`adb -s ${thisDevice} shell "cd ${vFileTree.currentPath} && mkdir ${r}" `).catch(
                        (error) => {
                            new Notification('Error', {
                                    body: error
                                }
                            )
                        })
                }
            }).then(() => refreshFileList(vFileTree.currentPath))
                .catch((error) => {
                    new Notification('Error', {
                        body: error
                    })
                });
        }
    }))
    menu.append(new MenuItem({
        label: '新建文件(New File)', async click() {
            prompt({
                title: 'Wait',
                label: 'File Name',
                value: '',
                type: 'input',
                icon: "lib/fav.ico",
                customStylesheet:"lib/prompt.css",
                alwaysOnTop:true,
            }).then((r) => {
                if (r === null) {
                    console.log('user cancelled');
                } else {
                    console.log('result', r);
                    execPromise(`adb -s ${thisDevice} shell "cd ${vFileTree.currentPath} && touch ${r}" `).catch(
                        (error) => {
                            new Notification('Error', {
                                    body: error
                                }
                            )
                        })
                }
            }).then(() => refreshFileList(vFileTree.currentPath))
                .catch((error) => {
                    new Notification('Error', {
                        body: error
                    })
                });
        }
    }))
    menu.append(
        new MenuItem({
            label: "终端(Terminal)",  async click() {
                let div = document.createElement("div");
                div.id = `status-cmd-${moment().valueOf()}`;
                div.style.height = "20px";
                div.style.color = "black";
                div.style.background = "linear-gradient(to top right, pink 5%,green 100%)";
                div.style.color = "white";

                await prompt({
                    title: 'Wait',
                    label: 'Command',
                    value: '',
                    type: 'input',
                    icon: "lib/fav.ico",
                    customStylesheet:"lib/prompt.css",
                    alwaysOnTop:true,
                }).then((r) => {
                    if (r === null) {
                        console.log('user cancelled');
                    } else {
                        console.log('result', r);
                        div.innerHTML = `executing: ${r}`;
                        document.getElementById("statusbar").appendChild(div);
                        execPromise(`adb -s ${thisDevice} shell "cd ${vFileTree.currentPath} && ${r}" `)
                            .then(
                                (stdout) => {
                                    div.remove();
                                    console.log(dialog.showMessageBox({ type:"info", "message":stdout }))
                                }
                            )
                            .catch(
                            (error) => {
                                div.remove();
                                console.log(dialog.showMessageBox({ type:"error", "message":error.toString() }))

                            })
                    }
                }).catch((error) => {
                    div.remove();
                    console.log(dialog.showMessageBox({ type:"error", "message":error.toString() }))
                    });
            }
        }))

    window.addEventListener('contextmenu', (e) => {
        e.preventDefault()
        menu.popup({window: remote.getCurrentWindow()})
    }, false)
</script>

<script>
    // 文件拖入
    document.addEventListener('drop', async (event) => {
        event.preventDefault();
        event.stopPropagation();
        for (const f of event.dataTransfer.files) {
            console.log('File Path of dragged files: ', f.path)
            await execPromise(`adb -s ${thisDevice} push ${f.path} ${vFileTree.currentPath}`)
        }
        refreshFileList(vFileTree.currentPath)
    });

    document.addEventListener('dragover', (e) => {
        e.preventDefault();
        e.stopPropagation();
    });

    document.addEventListener('dragenter', (event) => {
        console.log('File is in the Drop Space');
    });

    document.addEventListener('dragleave', (event) => {
        console.log('File has left the Drop Space');
    });

</script>

</body>
</html>